<%= simple_form_for(@office) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :slug %>
    <%= f.input :address, :label => "Адрес" %>
    <%= f.input :phone, :label => "Телефон" %>
    <%= f.input :description, :label => "Вспомогательная информация" %>
    <%= f.input :map, :label => "Код карты" %>
    <%= f.input :mode, :label => "Режим работы" %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
