<% title "Филиал на #{@office.address}" %>

<div class="b-office">
  <div class="back-link">
    ← <%= link_to "Другие филиалы", offices_path %>  
  </div>
  <div class="column x-2">
    <h1><%= @office.address%></h1>
    <div class="b-office-map">
      <%= @office.map.html_safe %>
    </div>
  </div>
  <div class="column x-1">    
    <h3>Телефон</h3>
    <p><%= @office.phone %></p>   
    
    <h3>Режим работы</h3>
    <p><%= @office.mode %></p>
    
    <p style="margin-top: 20px;"><%= @office.description.textile.html_safe %></p>
  </div>
</div>