%h2 
  Сумма займа:
  = succeed " руб." do
    = @request.amount

%h2 
  Срок займа:
  = succeed " дней" do
    = @request.days
   

%div
  %strong Личные данные:
%div
  %span Фамилия: 
  = @request.personal_last_name
  %br/
  %span Имя:  
  = @request.personal_first_name
  %br/
  %span Отчество:  
  = @request.personal_surname
  %br/  
  %span Девичья фамилия матери:  
  = @request.personal_maiden_name
  %br/  
  - unless @request.personal_birth_date.nil?
    %span Дата рождения:  
    = I18n.l @request.personal_birth_date.to_date
    %br/
  - unless @request.personal_birth_place.nil? or @request.personal_birth_place.empty?
    %span Место рождения по паспорту:  
    = @request.personal_birth_place
    %br/
  - unless @request.personal_relationship_status.nil? or @request.personal_relationship_status.empty?
    %span Семейный статус:  
    = @request.personal_relationship_status
    %br/
  - unless @request.personal_education.nil? or @request.personal_education.empty?
    %span Образование:  
    = @request.personal_education
    %br/
  - unless @request.personal_inn.nil? or @request.personal_inn.empty?
    %span ИНН:  
    = @request.personal_inn
    %br/
  - unless @request.personal_izhd_count.nil?
    %span Количество иждевенцев:  
    = @request.personal_izhd_count
    %br/
  - unless @request.personal_mob_phone.nil?
    %span Мобильный телефон:  
    = @request.personal_mob_phone
    %br/
    %br/
  - unless @request.agent_code.nil?
    %span Код агента:  
    = @request.agent_code
    %br/
%br/
%br/

= render "black_list"

%br/
%div
  %strong Документы:
%div
  %em Паспорт гражданина Российской Федерации
  %br/
  - unless @request.doc_seria.nil? or @request.doc_seria.empty?
    %span Серия:  
    = @request.doc_seria
    %br/
  - unless @request.doc_number.nil? or @request.doc_number.empty?
    %span Номер:  
    = @request.doc_number
    %br/
  - unless @request.doc_date.nil?
    %span Дата выдачи:  
    = I18n.l @request.doc_date.to_date
    %br/
  - unless @request.doc_author.nil? or @request.doc_author.empty?
    %span Кем выдан:  
    = @request.doc_author
    %br/
%br/
%br/

%div
  %strong Адреса и телефона:
%div
  %em Адрес регистрации
  %br/
  - unless @request.reg_region.nil? or @request.reg_region.empty?
    %span Регион:  
    = @request.reg_region
    %br/
  - unless @request.reg_city.nil? or @request.reg_city.empty?
    %span Город:  
    = @request.reg_city
    %br/
  - unless @request.reg_street.nil? or @request.reg_street.empty?
    %span Улица:  
    = @request.reg_street
    %br/
  - unless @request.reg_house.nil? or @request.reg_house.empty?
    %span Дом:  
    = @request.reg_house
    %br/
  - unless @request.reg_building.nil? or @request.reg_building.empty?
    %span Корпус(строение):  
    = @request.reg_building
    %br/
  - unless @request.reg_flat.nil? or @request.reg_flat.empty?
    %span Квартира:  
    = @request.reg_flat
    %br/
  - unless @request.reg_phone.nil? or @request.reg_phone.empty?
    %span Дом. телефон: 
    = @request.reg_phone
    %br/
  %br/
  %br/
  %em Адрес фактического проживания
  %br/
  - unless @request.fact_region.nil? or @request.fact_region.empty?
    %span Регион:  
    = @request.fact_region
    %br/
  - unless @request.fact_city.nil? or @request.fact_city.empty?
    %span Город:  
    = @request.fact_city
    %br/
  - unless @request.fact_street.nil? or @request.fact_street.empty?
    %span Улица:  
    = @request.fact_street
    %br/
  - unless @request.fact_house.nil? or @request.fact_house.empty?
    %span Дом:  
    = @request.fact_house
    %br/
  - unless @request.fact_building.nil? or @request.fact_building.empty?
    %span Корпус(строение):  
    = @request.fact_building
    %br/
  - unless @request.fact_flat.nil? or @request.fact_flat.empty?
    %span Квартира:  
    = @request.fact_flat
    %br/
  - unless @request.fact_period.nil? or @request.fact_period.empty?
    %span Период проживания:  
    = @request.fact_period
    %br/
  - unless @request.fact_st_phone.nil? or @request.fact_st_phone.empty?
    %span Телефон:  
    = @request.fact_st_phone
    %br/
  - unless @request.fact_mob_phone.nil? or @request.fact_mob_phone.empty?
    %span Моб. телефон:  
    = @request.fact_mob_phone
    %br/
%br/
%br/

%div
  %strong Контактные лица:
%div
  %em Первое контактное лицо
  %br/
  - unless @request.fisrt_cont_per_last_name.nil? or @request.fisrt_cont_per_last_name.empty?
    %span Фамилия:  
    = @request.fisrt_cont_per_last_name
    %br/
  - unless @request.fisrt_cont_per_first_name.nil? or @request.fisrt_cont_per_first_name.empty?
    %span Имя:  
    = @request.fisrt_cont_per_first_name
    %br/
  - unless @request.fisrt_cont_per_surname.nil? or @request.fisrt_cont_per_surname.empty?
    %span Отчество:  
    = @request.fisrt_cont_per_surname
    %br/
  - unless @request.fisrt_cont_per_relatives_level.nil? or @request.fisrt_cont_per_relatives_level.empty?
    %span Степень родства: 
    = @request.fisrt_cont_per_relatives_level
    %br/
  - unless @request.fisrt_cont_per_st_phone.nil? or @request.fisrt_cont_per_st_phone.empty?
    %span Дом. телефон:  
    = @request.fisrt_cont_per_st_phone
    %br/
  - unless @request.fisrt_cont_per_mob_phone.nil? or @request.fisrt_cont_per_mob_phone.empty?
    %span Моб. телефон:  
    = @request.fisrt_cont_per_mob_phone
    %br/
  %br/
  %br/
  %em Второе контактное лицо
  %br/
  - unless @request.second_cont_per_last_name.nil? or @request.second_cont_per_last_name.empty?
    %span Фамилия:  
    = @request.second_cont_per_last_name
    %br/
  - unless @request.second_cont_per_first_name.nil? or @request.second_cont_per_first_name.empty?
    %span Имя:  
    = @request.second_cont_per_first_name
    %br/
  - unless @request.second_cont_per_surname.nil? or @request.second_cont_per_surname.empty?
    %span Отчество:  
    = @request.second_cont_per_surname
    %br/
  - unless @request.second_cont_per_relatives_level.nil? or @request.second_cont_per_relatives_level.empty?
    %span Степень родства:  
    = @request.second_cont_per_relatives_level
    %br/
  - unless @request.second_cont_per_st_phone.nil? or @request.second_cont_per_st_phone.empty?
    %span Дом. телефон:  
    = @request.second_cont_per_st_phone
    %br/
  - unless @request.second_cont_per_mob_phone.nil? or @request.second_cont_per_mob_phone.empty?
    %span Моб. телефон: 
    = @request.second_cont_per_mob_phone
    %br/
%br/
%br/

%div
  %strong Доходы:
%div
  %em Постоянная текущая занятость
  %br/
  - unless @request.inc_activity_sphere.nil? or @request.inc_activity_sphere.empty?
    %span Сфера деятельности:  
    = @request.inc_activity_sphere
    %br/
  - unless @request.inc_record_of_service.nil? or @request.inc_record_of_service.empty?
    %span Стаж работы:  
    = @request.inc_record_of_service
    %br/
  - unless @request.inc_post.nil? or @request.inc_post.empty?
    %span Должность:  
    = @request.inc_post
    %br/
  - unless @request.inc_salary.nil? or @request.inc_salary.empty?
    %span Ежемесячный доход:  
    = @request.inc_salary
    %br/
  - unless @request.inc_org_name.nil? or @request.inc_org_name.empty?
    %span Название организации:  
    = @request.inc_org_name
    %br/
  - unless @request.inc_org_city.nil? or @request.inc_org_city.empty?
    %span Город:
    = @request.inc_org_city
    %br/
  - unless @request.inc_org_street.nil? or @request.inc_org_street.empty?
    %span Улица:  
    = @request.inc_org_street
    %br/
  - unless @request.inc_org_house.nil? or @request.inc_org_house.empty?
    %span Дом:  
    = @request.inc_org_house
    %br/
  - unless @request.inc_org_building.nil? or @request.inc_org_building.empty?
    %span Корпус(строение):  
    = @request.inc_org_building
    %br/
  - unless @request.inc_org_office.nil? or @request.inc_org_office.empty?
    %span Офис:  
    = @request.inc_org_office
    %br/
  - unless @request.inc_org_phone.nil? or @request.inc_org_phone.empty?
    %span Телефон:  
    = @request.inc_org_phone
    %br/
  - unless @request.inc_org_site.nil? or @request.inc_org_site.empty?
    %span Сайт:  
    = @request.inc_org_site
    %br/
%br/
%br/
= link_to "Одобрить заявку", accept_request_url(@request.id)
%br/
%br/
