- title "Агенты"

%h1 Список агентов

%table
	%thead
		%tr
			%th{:width => "70%"} Агент
			%th Код
			%th Заявок
			%th Сумма, руб.
			%th
	%tbody
		- @users.each do |user|
			%tr{:id => "#{user.id}"}
				%td{:id => "#{user.id}-full_name"}= user.full_name
				%td{:id => "#{user.id}-id"}= user.id
				%td{:id => "#{user.id}-requests_count"}= get_referal_requests_count(user)
				%td{:id => "#{user.id}-salary"}= get_referal_salary(user)
				%td= button_to('Сбросить', { :action => :reset, :id => user.id }, :confirm => 'Вы уверены?', :remote => true, :disable_with => 'Обнуляем...', :method => :post)