- title "Агенты"

%h1 Список агентов

%table
	%thead
		%tr
			%th{:width => "70%"} Агент
			%th Код
			%th Заявок
			%th Сумма, руб.
			%th
	%tbody
		- @users.each do |user|
			%tr
				%td= user.full_name
				%td= user.id
				%td= get_referal_requests_count(user)
				%td= get_referal_salary(user)
				%td= button_to('Обнулить', { :action => :reset, :id => user.id }, :confirm => 'Вы уверены?', :remote => true, :disable_with => 'Обнуляем...', :method => :post)