# coding: utf-8

- title "Личный кабинет"

%h1 Личный кабинет агента

.b-profile-page
	= render :partial => "name"
	.b-content
		.b-item
			%span.label Код
			%span.value= @user.id
		.b-item
			%span.label Заявок
			%span.value= @referal_requests_count
		.b-item
			%span.label Заработано
			%span.value.last
				= @referal_salary 
				%span.currency руб.
		.clear
		%p 
			При заполнении заявки в поле «Код агента» должен быть введен ваш код, который указан выше на странице.
			= image_tag "agent_code_cut.jpg"
		%p 
			Также вы можете пользоваться своей
			= succeed "," do
				= link_to "реферальной ссылкой", root_url(:c => @user.id)
			при переходе по которой код будет заполняться автоматически.
			.b-ref_link
				%span.b-ref_link-caption Ваша ссылка
				%span.b-ref_link-url
					%pre= root_url(:c => @user.id)
		%h2 Вывод денег
		%p 
			После того, как сумма на вашем счете станет больше или равна 1000 рублей, вы сможете легко вывести заработанные деньги, обратившись в любой из наших
			= link_to "филиалов", page_path("offices") 
			(с собой необходимо иметь документ, удостоверяющий личность).
		%h2 Как правильно заполнять заявки, чтобы не тратить зря время и зарабатывать максимум денег
		%p 
			Некоторые наши агенты зарабатывают, практически не тратя свое время, до 
			%em.emphasized 30 тысяч рублей 
			в месяц.
		%ul
			%li
				Заполняйте все поля максимально подробно и правильно — cотрудникам нашего Call-центра проще обрабатывать правильно заполненные заявки.
				%br/
				Например: в поле «Название организации» необходимо указывать ООО «ТяжМаш», а не — 
				%span.nobr «тяж маш». 
				Если это муниципальное предприятие необходимо,например, заполнять МУП «Коммунальник», а не просто «Комунальник».
			%li
				Заполняйте заявки
				= succeed "." do
					%em.emphasized честно
				Пытаясь обманным путем получить деньги, вы, во-первых, теряете возможность зарабатывать — наши специалисты это легко выявляют. 
				%br/
				Не тратьте свое и наше время, уважайте себя и законы Российской Федерации (Статья 159 Уголовного кодекса РФ. Мошенничество).
			%li 
				Если человек официально не работает, он все равно без проблем может получить деньги. Для этого действуют 
				= succeed "." do 
					= link_to "специальные программы", root_url