= title "Быстрые займы в Самаре — быстрый кредит за 15 минут (быстроденьги)"
.text-block
  %p{:style => "line-height: 1.4;"}
    Зарегистрированные пользователи получают возможность иметь под рукой всю информацию о своих заявках. 
    = link_to "Заведите", signup_path
    свой личный кабинет, это не займет много времени.
  %br
  %h3 Вам срочно понадобились деньги в долг? 
  %p Наша компания готова помочь Вам с деньгами. Вы быстро сможете получить займ наличными за 15 минут. Наш сервис по займу денег очень простой и доступный каждому. Вы просто заполняете заявку на ту сумму, которая Вам необходима  и уже через 15 минут вы можете получаете их.
  %p Ваша кредитная история — абсолютно неважна.
  %p Даже если прямо сейчас вам не нужны деньги в долг, не поленитесь заполнить заявку. Потом Вам будет достаточно в любое время позвонить нам и получить деньги в кредит при предъявлении только паспорта.
#step-1
  .superForm
    .bg
      %h1 
        Займы без залога до 
        = succeed "!" do
          %span{:class => "emphasized"}<
            10
            %span.half-space
            000 рублей
            
      = render "form"
    .b-star.b-star-15_minutes
    .b-star.b-star-2_docs
    .b-ruble-guy
  .b-content-body
    .b-content-main
      %p 
        Займы (быстро деньги) предоставляются в течение 
        %em.emphasized 15 минут
        с момента заполнения 
        = succeed "." do
          %a{:href => "#", :id => "submit3"} заявки
        %br/
        Гарантированное получение кредита наличными при условии предоставления достоверной информации в заявке.    
        %ul
          %li Сумма займа 1000 — 10000 рублей.
          %li Срок займа от 7 до 16 дней.
          %li Без залога. Без справок!
          %li Без комиссии.
          %li Процентная ставка по займу — 2% в день (732% годовых) за каждый день пользования денежными средствами.
        %br/     
    .b-content-footnotes
      %h2{:id => "branches"} Вы можете получить деньги в следующих городах
      .branch Атрахань
      .branch Волгоград
      .branch Казань
      .branch Краснодар
      .branch Пенза
      .branch Ростов-на-Дону
      .branch Саратов
      .branch Самара и область
      .branch Тамбов
      .branch Тольятти
      .branch Ульяновск
      .branch Уфа
      .branch Чебоксары
      .branch И другие города и страны
    .clear
    %br/
#step-2
  .loan-conditions
    .b-loan-results
      Занимаете
      %span.primary-count 3000 руб.
      + налоги и проценты
      %span.fees 600 руб.
      \= отдаете
      %span.secondary-count 3600 руб.
    %span.recalc Пересчитать        
  .loan-details
    = render "requests/form"
