= title "Быстрые займы в Самаре — быстрый кредит за 15 минут (быстроденьги)"
.text-block
  %p{:style => "line-height: 1.4;"}
    Зарегистрированные пользователи получают возможность иметь под рукой всю информацию о своих заявках. 
    = link_to "Заведите", signup_path
    свой личный кабинет, это не займет много времени.
#step-1
  .superForm
    .bg
      %h1 
        Займы без залога до 
        = succeed "!" do
          %span{:class => "emphasized"}<
            10
            %span.half-space
            000 рублей
            
      = render "form"
    .b-star.b-star-15_minutes
    .b-star.b-star-2_docs
    .b-ruble-guy
  .b-content-body
    .b-content-main
      %p{:style => "margin: 0 0 1em 0; line-height: 1.2;"}
    .b-content-footnotes
      -# .b-affiliate-button
      -#   %h3 У нас действует выгодная
      -#   %a{:href => url_for_affiliate}
      -#     %span.new-button-small
      -#       %div{:class => "b-form-button"} партнерская программа
      -#   %p{:style => "padding-left: 2px;"}
      -#     И программа
      -#     = succeed "." do
      -#       = link_to "для инвесторов", page_path("investment")
        
    .clear
    %br/
#step-2
  .loan-conditions
    .b-loan-results
      Занимаете
      %span.primary-count 3000 руб.
      + налоги и проценты
      %span.fees 600 руб.
      \= отдаете
      %span.secondary-count 3600 руб.
    %span.recalc Пересчитать        
  .loan-details
    = render "requests/form"
