<div id="miniBox" class="miniBox">  
  <h1>Мини-анкета</h1>
  <p class="lid">
    Напишите свое полное имя, номер телефона и отправьте нам заявку.
    В течение нескольких секунд ваши данные пройдут проверку, и 
    мы сообщим вам где вы сможете забрать свои деньги.
  </p>
  <p class="amount-and-term">
    <span id="miniAmount"><%= default_amount_unless_exists %></span> на <span id="miniTerm"><%= default_term_unless_exists %></span>.
  </p>
<%= simple_form_for @request, :html => { :onsubmit => '$("#facebox #submitBtn").hide(); $("#facebox #miniLoading").show();' } do |f| %>
  <div class="mini-form">    
    <%= f.input :personal_last_name, :label => "Фамилия", :required => false %>
    <%= f.input :personal_first_name, :label => "Имя", :required => false %>
    <%= f.input :personal_surname, :label => "Отчество", :required => false %>
    <%= f.input :personal_mob_phone, :label => "Телефон для связи", :required => false %>    
    <%= f.input :amount, :as => :hidden %>
    <%= f.input :days, :as => :hidden %>    
    <%= f.input :is_mini, :as => :hidden, :input_html => { :value => true } %>
    <%= check_box_tag "accept-terms", "", false, :onchange => '$("#facebox #submitBtnDisabled").toggle(); $("#facebox #submitBtn").toggle();' %>
    <%= "Заполнив настоящую анкету, я понимаю и соглашаюсь cо следующими #{link_to 'условиями', page_path("request-terms"), target: "blank"}.".html_safe %>
  </div>
  <div class="thank-you">
    <%= image_tag "logo-small.png" %>
    <p>Спасибо, что выбираете <span class="nobr">Магазин Кредитов!</span></p>    
  </div>  
  <div class="clear"></div>
  <p class="submit">
    <small>Все ваши данные находятся в безопасности.</small>
    <%= image_tag "btn_send.png", :id => "submitBtnDisabled", :style => "opacity: 0.4;" %>
    <%= image_submit_tag "btn_send.png", :id => "submitBtn", :style => "display: none;" %><br />
    <%= image_tag "dots-white.gif", :id => "miniLoading", :class => "hidden" %>
  </p>
<% end %>
</div>

<%= javascript_tag do %>
  $("input#accept-terms").live("change", function(){
    $("#submitBtnDisabled").hide();
    $("#submitBtn").show();
  });
<% end %>
