= title "Схема проезда"

.b-article
  %h1 Как к нам добраться
  
  %p.lid
    Удобное месторасположение наших филиалов позволит вам быстро добраться до нас, где бы вы не находились.
  
  %div
    %h2 ул. Победы, 86 (пересечение с ул. Матросова)
    .b-map-new
      .b-item
        = render "shared/maps/pobeda"
      .b-item
        = image_tag "office-pobeda.jpg" 
      .clear     
  %div
    %h2 ул. Куйбышева, 71 (магазин «Горилка», 2-й этаж)
    .b-map
      = render "shared/maps/kuybisheva"
      
  %div
    %h2 ул. Стара-Загора, 130 (магазин «Пятерочка») 
    .b-map
      = render "shared/maps/stara-zagora_130" 
      
  %div
    %h2 ул. Стара-Загора, 301 (магазин «Пятерочка»)
    .b-map
      = render "shared/maps/stara-zagora_301" 
  %br/
  %br/