!!! 5
%html{:lang => "en-US"}
  %head
    = render "shared/head"
  %body
    = render "shared/metrika"
    .pageContainer
      .pageWrapper
        .header
          .logo
            = link_to(image_tag('logo.png'), root_path)
          .logo2
            = image_tag "logo2.jpg", :style => "position: relative; top: -15px;"
          .phone
            %h3 Прием заявок по телефону
            %span.nobr{:style => "font-weight: bold;"}
              %span.code (846)
              %span.number 342-0-900
            %br/
            %span.nobr
              %span.code (846)
              %span.number 997-15-55
            %br/
            %span.nobr
              %span.number +7 927 606-31-85
            .address
              %h2 Самара, пр. Карла Маркса 510В
              %span ООО «Магазин Кредитов»
              = link_to 'Схема проезда', page_path("offices")
              = other_branches_link
          - if signed_in?
            - unless current_user.is? :moderator
              .user-bar
                %ol
                  %li= link_to_unless_current "Личный кабинет", profile_path
                  %li= link_to_unless_current "Настройки", settings_path
                  %li= link_to 'Выйти', sign_out_path, :method => :delete
            - else
              .user-bar
                %ol
                  %li= link_to_unless_current "Список агентов", agents_path
                  %li= link_to "Выйти", sign_out_path, :method => :delete
          .clear
            
        .content
          #flashes
            - flash.each do |key, value|
              #flash
                = html_escape(value)
          = yield
          
    .footer      
      .l-column.l-column-left
        Тел.: (846) 997-15-55, +7 927 606-31-85 
        %br/
        Электропочта:
        = mail_to 'magazinkreditov@mail.ru'
      .l-column.l-column-right
        © 
        = Time.new.year
        «Магазин кредитов»
        %br/
        Самара, ул. Куйбышева 71          