!!! 5
%html{:lang => "en-US"}
  %head
    = render "shared/head"
  %body
    = render "shared/metrika"
    .pageContainer
      .pageWrapper
        .header
          .logo
            = link_to(image_tag('logo.png'), root_path)
          .address
            %h2 Самара, ул. Победы 86
            = link_to 'Схема проезда', page_path("offices")
          .phone
            %h3 Прием заявок по телефону
            %span.nobr
              %span.code (846)
              %span.number 997-15-55
            %br/
            %span.nobr
              %span.number +7 927 606-31-85
          .clear
            
        .content
          = yield
          
    .footer      
      .l-column.l-column-left
        Тел.: (846) 997-15-55, +7 927 606-31-85 
        %br/
        Электропочта:
        = mail_to 'magazinkreditov@mail.ru'
      .l-column.l-column-right
        © 
        = Time.new.year
        «Магазин кредитов»
        %br/
        Самара, ул. Победы 86          