!!! 5
%html{:lang => "en-US"}
  %head
    = render "shared/head"
  %body
    = render "shared/metrika"
    .pageContainer
      .pageWrapper
        .header
          .logo
            = link_to_unless_current(image_tag('logo.png'), root_path)
          .address
            %h2 Самара, ул. Советская 52
            = link_to 'Схема проезда', '#'
          .phone
            %h3 Прием заявок по телефону
            %span.nobr
              %span.code (846)
              %span.number 997-15-55
          .clear
            
        .content
          = yield
          
        .footer            